<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373264707011-vs8ntnmk8ue2afpq4pahjhvf02vabq7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373264707011-vs8ntnmk8ue2afpq4pahjhvf02vabq7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373264707011-lqtlb4adku1f7jg26ahoplgpe56jm4uq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvemZrfqRl9ygbLJHhZAC0Qvu4YkmC-PA</string>
	<key>GCM_SENDER_ID</key>
	<string>373264707011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yamatomichi.app</string>
	<key>PROJECT_ID</key>
	<string>yamatomichi-hlc</string>
	<key>STORAGE_BUCKET</key>
	<string>yamatomichi-hlc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373264707011:ios:ca4cf96d18cd863ab22176</string>
</dict>
</plist>